<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MeteoInfo File="config.xml" Type="configurefile">
  <Path OpenPath="D:\Temp\grads"/>
  <Font>
    <TextFont FontName="Arial" FontSize="14"/>
    <LegendFont FontName="宋体" FontSize="12"/>
  </Font>
  <ScriptLanguage Language="Jython"/>
  <LookFeel LafDecorated="true" Name="FlatDarkLaf"/>
  <Figure DoubleBuffering="true"/>
  <Startup MainFormLocation="36,5" MainFormSize="1183,605" ShowMeteoDataDlg="false"/>
</MeteoInfo>
