<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MeteoInfo File="config.xml" Type="configurefile">
  <Path OpenPath="D:\Temp\traj\Sample"/>
  <Font>
    <TextFont FontName="宋体" FontSize="15"/>
    <LegendFont FontName="宋体" FontSize="12"/>
  </Font>
  <ScriptLanguage Language="Jython"/>
  <Startup MainFormLocation="-6,-6" MainFormSize="1295,696" ShowMeteoDataDlg="true"/>
</MeteoInfo>
